body {
  margin: 0;
  display: flex;
  font-family: 'Spartan', monospace;
  height: 100vh;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.quiz {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 2rem;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 2rem;
}
.answer-btn {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1rem;
  width: 50%;
  font-size: 2rem;
  border: 1px solid #555;
}

.NOT_READY .answer-btn.selected {
  background: rgba(50, 50, 0, 0.8);
  animation: blink 0.5s infinite;
}

.INCORRECT .answer-btn.selected {
  background: rgba(150, 50, 0, 0.8);
}

.CORRECT .answer-btn.selected {
  background: rgba(50, 150, 0, 0.8);
}

@keyframes blink {
  0% {
    background: rgba(70, 70, 0, 0.9);
  }
  50% {
    background: rgba(70, 70, 0, 0);
  }
  100% {
    background: rgba(70, 70, 0, 0.9);
  }
}
